
/* universal selector  */
*{
    margin: 0;
    padding: 0;

}



/* css for the first section the input section  */
.container{
    display: flex;
    flex-direction: column;
   align-items: center;
    height: 55vh;
    width: auto;
    background-color: rgb(33, 33, 33);
    z-index: -1 ;
}

.box{
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
}
.input{
    display: flex;
    margin: 20px ;
    width: 20em ;
    padding: 20px ;
    border: 1px solid white;
    outline: none;
    border-radius: 10em;
}
.title{
   font-size: 5rem  ;
   color: whitesmoke;
   /* margin-top: 4rem; */
}

.list{
    display: flex;  
    align-items: center;
    margin: 10px;
    width : 25rem ; 
    padding: 15px ;
}
/* css for output and all child elements of inputTodolist   */
.inputTodolist{
    display: flex;
    flex-direction: column;
    padding: 15px ;
    position: relative;
    top: -7rem ;
    background-color: rgb(216, 255, 255);
    margin: auto;
    width: 60%;
    height: 15rem;
    overflow: auto;
    border-radius: 3rem;
    z-index: 1;
}

.taskButtons{
    position: absolute;
    right: 20px;
    background-color: rgb(85, 163, 138);
    color: white;
    height: fit-content;
    padding: 10px ;
    border: 1px solid rgb(154, 195, 212) ;
    border-radius: 10rem;
    margin-left: 10px  ;
    text-decoration: none;
}
.titletodo{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    font-size: 20px ;
    color: rgb(16, 16, 16);
    justify-content: center;
    margin: 10px ;
}
.headingTodolist{
    margin: 10px;
}

.button{
    display: flex;
    background-color: rgb(85, 163, 138);
    color: white;
    height: fit-content;
    padding: 10px ;
    border: 1px solid rgb(154, 195, 212) ;
    border-radius: 10rem;
    margin-right: 10px  ;

}

#marked{
    text-decoration: line-through;
}

.checkbox{
    position: absolute;
    left : 2px;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%; 
    margin-left: 10px ;
}




.list .taskButtons {
    text-decoration: none ;
}

.span{
    padding: 10px ;
    max-width: 19rem;
}

/* using media query to make it more responsive handles 800px   */

@media only screen and (max-width: 850px ) and (min-width : 600px){
    body{
        background-color: bisque;
    }
.list{
    width: 15rem;
    padding: 10px ;
}
.input{
    margin: 10px ;
    width : 15em;
    padding :9px ;


}
.checkbox{
    left: 1px ;
    height: 15px ;
    width: 15px;
}
.span{
    padding: 10px ;
    max-width: 10rem;
}
}

/* handles screen with mid size 600px  */
@media only screen and (max-width: 600px) {
    
    body{
        background-color: lightblue;
    }
    .span{
        padding: 10px ;
        max-width: 8rem;
    }
    .input{
    display: flex;
    margin: 16px;
    width: 15em;
    padding: 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 9em;
    }

    .title{
        font-size: 3rem  ;
        color: whitesmoke;
        margin-top: 4rem;
        /* margin-bottom: 2px ; */
     }
     .list{
        width: 10rem;
        font-size: 0.9rem;
        padding: 10px ;
     }
     .inputTodolist{
        width: 90%;
        top: -10rem;
     }
     
     .taskButtons{
        position: absolute;
        right: 41px;
        background-color: rgb(85, 163, 138);
        color: white;
        height: fit-content;
        padding: 5px ;
        text-decoration: none;
        font-size: small;
    }
   
    .checkbox{
        position: absolute;
        left : 1px ; 
        width: 15px;
        height: 15px;
        border: 2px solid #333;
        border-radius: 50%; 
        margin-left: 10px ;
    }
    
}

/* the css handle smaller screen sizes less then 300px  */
@media only screen and (max-width : 300px ){
    .input{
        margin: 10px;
        width: 10em;
        padding: 5px;
        border: 1px solid white;
        outline: none;
        border-radius: 5em;
    }
    .list{
        padding : 5px 
    }
}

@media only screen and  (min-height : 950px ) , (max-height : 2500) {
    .container{
        height: 30vh;
    }
}

.editButtons{
    position: absolute;
    right: 100px;
    background-color: rgb(85, 163, 138);
    color: white;
    height: fit-content;
    padding: 10px;
    border: 1px solid rgb(154, 195, 212);
    border-radius: 10rem;
    margin-left: 10px;
}